In [6]:
import numpy as np
import pandas as pd

In [38]:
### To read all dataset
user=pd.read_csv("u.user",sep="|",header=None)
user.columns = ["user_id","age" , "gender" , "occupation" , "zip_code"]

item=pd.read_csv("u.item",sep="|",header=None)
item.columns=[    "item_id", "movie_title", "release_date" , "video_release_date" ,
             "imdb_url" , "unknown" , "action" , "adventure" , "animation" ,
              "children" , "comedy" , "crime" ,"documentary" , "drama" , "fantasy" ,
              "film_noir" , "horror" , "musical" , "mystery" , "romance" , "sci_fi" ,
              "thriller" , "war" , "western"]

genre=pd.read_csv("u.genre",sep="|",header=None)
genre.columns = ["genre_name","genre_id"]

data=pd.read_csv("u.data",sep="\t",header=None)
data.columns=["user_id" , "item_id", "rating","timestamp"]

In [31]:
print(data)

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
5          298      474       4  884182806
6          115      265       2  881171488
7          253      465       5  891628467
8          305      451       3  886324817
9            6       86       3  883603013
10          62      257       2  879372434
11         286     1014       5  879781125
12         200      222       5  876042340
13         210       40       3  891035994
14         224       29       3  888104457
15         303      785       3  879485318
16         122      387       5  879270459
17         194      274       2  879539794
18         291     1042       4  874834944
19         234     1184       2  892079237
20         119      392       4  886176814
21         167      486       4  892738452
22         299      144       4  877881320
23         291      118       2  874833878
24         308        1       4  887736532
25          95      546       2  879196566
26          38       95       5  892430094
27         102      768       2  883748450
28          63      277       4  875747401
29         160      234       5  876861185
...        ...      ...     ...        ...
99970      449      120       1  879959573
99971      661      762       2  876037121
99972      721      874       3  877137447
99973      821      151       4  874792889
99974      764      596       3  876243046
99975      537      443       3  886031752
99976      618      628       2  891308019
99977      487      291       3  883445079
99978      113      975       5  875936424
99979      943      391       2  888640291
99980      864      685       4  888891900
99981      750      323       3  879445877
99982      279       64       1  875308510
99983      646      750       3  888528902
99984      654      370       2  887863914
99985      617      582       4  883789294
99986      913      690       3  880824288
99987      660      229       2  891406212
99988      421      498       4  892241344
99989      495     1091       4  888637503
99990      806      421       4  882388897
99991      676      538       4  892685437
99992      721      262       3  877137285
99993      913      209       2  881367150
99994      378       78       3  880056976
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [39]:
d1=pd.merge(data, user, on="user_id", how="left")
d2=pd.merge(d1,item,on="item_id",how="left")

In [41]:
print(d2)

       user_id  item_id  rating  timestamp  age gender     occupation  \
0          196      242       3  881250949   49      M         writer
1          186      302       3  891717742   39      F      executive
2           22      377       1  878887116   25      M         writer
3          244       51       2  880606923   28      M     technician
4          166      346       1  886397596   47      M       educator
5          298      474       4  884182806   44      M      executive
6          115      265       2  881171488   31      M       engineer
7          253      465       5  891628467   26      F      librarian
8          305      451       3  886324817   23      M     programmer
9            6       86       3  883603013   42      M      executive
10          62      257       2  879372434   27      F  administrator
11         286     1014       5  879781125   27      M        student
12         200      222       5  876042340   40      M     programmer
13         210       40       3  891035994   39      M       engineer
14         224       29       3  888104457   31      F       educator
15         303      785       3  879485318   19      M        student
16         122      387       5  879270459   32      F         writer
17         194      274       2  879539794   38      M  administrator
18         291     1042       4  874834944   19      M        student
19         234     1184       2  892079237   60      M        retired
20         119      392       4  886176814   32      M     programmer
21         167      486       4  892738452   37      M          other
22         299      144       4  877881320   29      M         doctor
23         291      118       2  874833878   19      M        student
24         308        1       4  887736532   60      M        retired
25          95      546       2  879196566   31      M  administrator
26          38       95       5  892430094   28      F          other
27         102      768       2  883748450   38      M     programmer
28          63      277       4  875747401   31      M      marketing
29         160      234       5  876861185   27      M     programmer
...        ...      ...     ...        ...  ...    ...            ...
99970      449      120       1  879959573   23      M      librarian
99971      661      762       2  876037121   28      M     programmer
99972      721      874       3  877137447   24      F  entertainment
99973      821      151       4  874792889   37      M       engineer
99974      764      596       3  876243046   27      F       educator
99975      537      443       3  886031752   36      M       engineer
99976      618      628       2  891308019   15      F        student
99977      487      291       3  883445079   22      M       engineer
99978      113      975       5  875936424   47      M      executive
99979      943      391       2  888640291   22      M        student
99980      864      685       4  888891900   27      M     programmer
99981      750      323       3  879445877   28      M  administrator
99982      279       64       1  875308510   33      M     programmer
99983      646      750       3  888528902   17      F        student
99984      654      370       2  887863914   27      F        student
99985      617      582       4  883789294   27      F         writer
99986      913      690       3  880824288   27      M        student
99987      660      229       2  891406212   26      M        student
99988      421      498       4  892241344   38      F     programmer
99989      495     1091       4  888637503   29      M       engineer
99990      806      421       4  882388897   27      M      marketing
99991      676      538       4  892685437   30      M     programmer
99992      721      262       3  877137285   24      F  entertainment
99993      913      209       2  881367150   27      M        student
99994      378       78       3  880056976   35      M        student
99995      880      476       3  880175444   13      M        student
99996      716      204       5  879795543   36      F  administrator
99997      276     1090       1  874795795   21      M        student
99998       13      225       2  882399156   47      M       educator
99999       12      203       3  879959583   28      F          other

      zip_code                                        movie_title  \
0        55105                                       Kolya (1996)
1        00000                           L.A. Confidential (1997)
2        40206                                Heavyweights (1994)
3        80525                         Legends of the Fall (1994)
4        55113                                Jackie Brown (1997)
5        01581  Dr. Strangelove or: How I Learned to Stop Worr...
6        17110                   Hunt for Red October, The (1990)
7        22903                            Jungle Book, The (1994)
8        94086                                      Grease (1978)
9        98101                     Remains of the Day, The (1993)
10       97214                                Men in Black (1997)
11       15217      Romy and Michele's High School Reunion (1997)
12       93402                    Star Trek: First Contact (1996)
13       03060  To Wong Foo, Thanks for Everything! Julie Newm...
14       43512                              Batman Forever (1995)
15       14853                                    Only You (1994)
16       22206                       Age of Innocence, The (1993)
17       02154                                     Sabrina (1995)
18       44106                                  Just Cause (1995)
19       94702                       Endless Summer 2, The (1994)
20       67401                     Man Without a Face, The (1993)
21       L9G2B                                     Sabrina (1954)
22       63108                                    Die Hard (1988)
23       44106                                     Twister (1996)
24       95076                                   Toy Story (1995)
25       10707                                Broken Arrow (1996)
26       54467                                     Aladdin (1992)
27       30220                                      Casper (1995)
28       75240                                 Restoration (1995)
29       66215                                        Jaws (1975)
...        ...                                                ...
99970    55021                                  Striptease (1996)
99971    98121                             Beautiful Girls (1996)
99972    11238                                Career Girls (1997)
99973    77845       Willy Wonka and the Chocolate Factory (1971)
99974    62903                Hunchback of Notre Dame, The (1996)
99975    22902                                  Birds, The (1963)
99976    44212                                    Sleepers (1996)
99977    92121                              Absolute Power (1997)
99978    95032                                        Fear (1996)
99979    77841                            Last Action Hero (1993)
99980    63021                          Executive Decision (1996)
99981    32303                                Dante's Peak (1997)
99982    85251                   Shawshank Redemption, The (1994)
99983    51250                                     Amistad (1997)
99984    78739                                 Mary Reilly (1996)
99985    11201                                  Piano, The (1993)
99986    76201                        Seven Years in Tibet (1997)
99987    77380         Star Trek III: The Search for Spock (1984)
99988    55105                          African Queen, The (1951)
99989    03052                               Pete's Dragon (1977)
99990    11217      William Shakespeare's Romeo and Juliet (1996)
99991    32712                                   Anastasia (1997)
99992    11238                       In the Company of Men (1997)
99993    76201                          This Is Spinal Tap (1984)
99994    02859                                  Free Willy (1993)
99995    83702                       First Wives Club, The (1996)
99996    44265                          Back to the Future (1985)
99997    95064                                      Sliver (1993)
99998    29206                              101 Dalmatians (1996)
99999    06405                                  Unforgiven (1992)

      release_date   ...     fantasy film_noir  horror  musical  mystery  \
0      24-Jan-1997   ...           0         0       0        0        0
1      01-Jan-1997   ...           0         1       0        0        1
2      01-Jan-1994   ...           0         0       0        0        0
3      01-Jan-1994   ...           0         0       0        0        0
4      01-Jan-1997   ...           0         0       0        0        0
5      01-Jan-1963   ...           0         0       0        0        0
6      01-Jan-1990   ...           0         0       0        0        0
7      01-Jan-1994   ...           0         0       0        0        0
8      01-Jan-1978   ...           0         0       0        1        0
9      01-Jan-1993   ...           0         0       0        0        0
10     04-Jul-1997   ...           0         0       0        0        0
11     25-Apr-1997   ...           0         0       0        0        0
12     22-Nov-1996   ...           0         0       0        0        0
13     01-Jan-1995   ...           0         0       0        0        0
14     01-Jan-1995   ...           0         0       0        0        0
15     01-Jan-1994   ...           0         0       0        0        0
16     01-Jan-1993   ...           0         0       0        0        0
17     01-Jan-1995   ...           0         0       0        0        0
18     01-Jan-1995   ...           0         0       0        0        1
19     01-Jan-1994   ...           0         0       0        0        0
20     01-Jan-1993   ...           0         0       0        0        0
21     01-Jan-1954   ...           0         0       0        0        0
22     01-Jan-1988   ...           0         0       0        0        0
23     10-May-1996   ...           0         0       0        0        0
24     01-Jan-1995   ...           0         0       0        0        0
25     09-Feb-1996   ...           0         0       0        0        0
26     01-Jan-1992   ...           0         0       0        1        0
27     01-Jan-1995   ...           0         0       0        0        0
28     01-Jan-1995   ...           0         0       0        0        0
29     01-Jan-1975   ...           0         0       1        0        0
...            ...   ...         ...       ...     ...      ...      ...
99970  28-Jun-1996   ...           0         0       0        0        0
99971  09-Feb-1996   ...           0         0       0        0        0
99972  08-Aug-1997   ...           0         0       0        0        0
99973  01-Jan-1971   ...           0         0       0        0        0
99974  21-Jun-1996   ...           0         0       0        1        0
99975  01-Jan-1963   ...           0         0       1        0        0
99976  18-Oct-1996   ...           0         0       0        0        0
99977  14-Feb-1997   ...           0         0       0        0        1
99978  12-Apr-1996   ...           0         0       0        0        0
99979  01-Jan-1993   ...           0         0       0        0        0
99980  09-Mar-1996   ...           0         0       0        0        0
99981  07-Feb-1997   ...           0         0       0        0        0
99982  01-Jan-1994   ...           0         0       0        0        0
99983  18-Dec-1997   ...           0         0       0        0        0
99984  23-Feb-1996   ...           0         0       0        0        0
99985  01-Jan-1993   ...           0         0       0        0        0
99986  01-Jan-1997   ...           0         0       0        0        0
99987  01-Jan-1984   ...           0         0       0        0        0
99988  01-Jan-1951   ...           0         0       0        0        0
99989  01-Jan-1977   ...           0         0       0        1        0
99990  25-Oct-1996   ...           0         0       0        0        0
99991  01-Jan-1997   ...           0         0       0        1        0
99992  01-Aug-1997   ...           0         0       0        0        0
99993  01-Jan-1984   ...           0         0       0        1        0
99994  01-Jan-1993   ...           0         0       0        0        0
99995  14-Sep-1996   ...           0         0       0        0        0
99996  01-Jan-1985   ...           0         0       0        0        0
99997  01-Jan-1993   ...           0         0       0        0        0
99998  27-Nov-1996   ...           0         0       0        0        0
99999  01-Jan-1992   ...           0         0       0        0        0

       romance  sci_fi  thriller  war  western
0            0       0         0    0        0
1            0       0         1    0        0
2            0       0         0    0        0
3            1       0         0    1        1
4            0       0         0    0        0
5            0       1         0    1        0
6            0       0         1    0        0
7            1       0         0    0        0
8            1       0         0    0        0
9            0       0         0    0        0
10           0       1         0    0        0
11           0       0         0    0        0
12           0       1         0    0        0
13           0       0         0    0        0
14           0       0         0    0        0
15           1       0         0    0        0
16           0       0         0    0        0
17           1       0         0    0        0
18           0       0         1    0        0
19           0       0         0    0        0
20           0       0         0    0        0
21           1       0         0    0        0
22           0       0         1    0        0
23           0       0         1    0        0
24           0       0         0    0        0
25           0       0         1    0        0
26           0       0         0    0        0
27           0       0         0    0        0
28           0       0         0    0        0
29           0       0         0    0        0
...        ...     ...       ...  ...      ...
99970        0       0         0    0        0
99971        0       0         0    0        0
99972        0       0         0    0        0
99973        0       0         0    0        0
99974        0       0         0    0        0
99975        0       0         0    0        0
99976        0       0         0    0        0
99977        0       0         1    0        0
99978        0       0         1    0        0
99979        0       0         0    0        0
99980        0       0         1    0        0
99981        0       0         1    0        0
99982        0       0         0    0        0
99983        0       0         0    0        0
99984        0       0         1    0        0
99985        1       0         0    0        0
99986        0       0         0    1        0
99987        0       1         0    0        0
99988        1       0         0    1        0
99989        0       0         0    0        0
99990        1       0         0    0        0
99991        0       0         0    0        0
99992        0       0         0    0        0
99993        0       0         0    0        0
99994        0       0         0    0        0
99995        0       0         0    0        0
99996        0       1         0    0        0
99997        0       0         1    0        0
99998        0       0         0    0        0
99999        0       0         0    0        1

[100000 rows x 31 columns]